{% extends 'main/base.html'%}

{% block title %}
Планы по разработке
{%endblock%}

{% block content %}
    <h2>Что есть сейчас:</h2>
    <p>Сейчас сайт представляет из себя задачник, который позволяет пользовать нескольким пользователям добавлять задачи на главный экран, редактировать, удалять.</p>
    <p>Каждый пользователь имеет свой личный кабинет, со своими данными авторизации</p>
    <h2> Планы</h2>
    <p>1. Задеплоить проект</p>
    <p>2. Создать возможность добавления неограниченного количества строк в проект</p>
    <p>3. Используя Mimesis - Fake Data Generator заполнять таблицы данными</p>
    <p>4. Добавить возможность выгрузки таблиц в формате CSV</p>
    <p>5. Разграничить права доступа пользователей</p>


    <h2>Технологии и интрументы, которые использовались при разработке</h2>
    <p>1. Django как основной инструмент проекта</p>
    <p>2. SQLite как основную СУБД локально, PostgreSQL</p>
    <p>3. Знания HTML и CSS для внешнего вида сайта</p>
    <p>4. Шаблонизатор jinja2</p>
    <p>5. Heroku для деплоя</p>
    <p>6. Mimesis - Fake Data Generator для генерации данных в таблицы</p>
    <p>6. GITHUB для контроля версий</p>

{%endblock%}

