{% extends 'main/base.html'%}

{% block title %}
Планы по разработке
{%endblock%}

{% block content %}
<!--    <h2>Что есть сейчас:</h2>-->
<!--    <p>Сейчас сайт представляет из себя задачник, который позволяет пользовать нескольким пользователям добавлять задачи на главный экран, редактировать, удалять.</p>-->
<!--    <p>Каждый пользователь имеет свой личный кабинет, со своими данными авторизации</p>-->
    <h2> Планы</h2>
    <p>1. На главной странице задачи на сегодня</p>
    <p>2. Отдельная страница со всеми задачами</p>
    <p>3. Менять статус задач</p>


{%endblock%}

