{% extends 'main/base.html'%}

{% block title %}
Создать запись
{%endblock%}

{% block content %}
    <h2> Новый контакт</h2>
    <form method="post">
        {%csrf_token%}
        <div class="container">
            <label class="form-label"> Название таблицы</label>
            <div class="col-4">{{ form.name_task }}</div><br>
            <label class="form-label"> Разделитель колонок</label>
            <div class="col-4">{{ form.column_sep }}</div><br>
            <label class="form-label"> Скобки</label>
            <div class="col-4">{{ form.str_char }}</div>
            <br>
            <h4> Столбцы таблицы</h4>
            <div class="row">
                <div class="col-4">
                    <label class="form-label"> Название столбца</label>
                    {{ form.title }}
                </div>
                <div class="col-4">
                    <label class="form-label"> Тип</label>
                    {{ form.title2 }}
                </div>

                <div class="col-4">
                    <label class="form-label"> Order</label>
                    {{ form.task }}
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success"> Добавить </button>
        <span>{{error}}</span>
    </form>
{%endblock%}

