{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{%endblock%}

{% block content %}
<h1> Контакты</h1>
<div class="row">
    <div>
            <form class="col-2" method="get">
                {{myFilter.form}}<br>


               <br> <button class="btn btn-success" type="submit">
                    Поиск</button>
            </form>


    </div>
</div>


<table>
    <thead>
        <tr>
            <th>Как зовут</th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
        {% if user == request.user %}
            {%if tasks%}
                {% for element in tasks%}
                <tr >
                    <td><a class="h5" style="margin-right: 40px" href="{%url 'project' element.id%}">{{element.name_task}} {{element.surname}}</a><br>
                    </td>
                    <td><a style="margin-right: 10px" class="btn btn-success" href="{% url 'update' element.id%}">Изменить</a></td>
                    <td><a class="btn btn-danger" href="{% url 'delete' element.id%}" >Удалить</a></td>
                </tr>

                {%endfor%}
            {%else%}
            <p>У нас нет записей</p>
            {%endif%}
        {%endif%}
    </tbody>
</table>
{%endblock%}
