{% extends 'main/base.html'%}

{% block title %}
{{ title }}
{%endblock%}

{% block content %}
    <h1> Проекты</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
        {% if user == request.user %}
            {%if tasks%}
                {% for element in tasks%}
                <tr >
                    <td><a href="{%url 'project' element.id%}">{{element.name_task}}</a><br>
                    </td>
                    <td><a href="{% url 'update' element.id%}">Edit</a></td>
                    <td><a href="{% url 'delete' element.id%}">Delete</a></td>
                </tr>
                {%endfor%}
            {%else%}
            <p>У нас нет записей</p>
            {%endif%}
        {%endif%}
    </tbody>
</table>
{%endblock%}
