{% extends 'main/base.html'%}

{% block title %}
{{title}}
{%endblock%}

{% block content %}
    <h2>Контакт</h2>
    <img class="profile_pic" src="{{request.project.account_pic.url}}">

        <form method="post">
        {%csrf_token%}
        <div class="container">
            <label class="form-label"> <b>Имя</b></label>
            <div class="col-4">{{ project.name_task }}</div><br>
            <label class="form-label"> <b>Фамилия</b></label>
            <div class="col-4">{{ project.surname }}</div><br>
            <label class="form-label"> <b>Телефон</b></label>
            <div class="col-4">{{ project.phone_num }}</div>
            <br>
            <h4> Адрес</h4>
            <div class="row">
                <div class="col-4">
                    <label class="form-label"> <b>Страна</b></label><br>
                    {{ project.title }}
                </div>
                <div class="col-4">
                    <label class="form-label"> <b>Город</b></label><br>
                    {{ project.title2 }}
                </div>
                <div class="col-4">
                    <label class="form-label"> <b>Улица</b></label><br>
                    {{ project.task }}
                </div>
            </div>
        </div>
        <br>
        <span>{{error}}</span>
    </form>

{%endblock%}